
.text {
    line-height: 26pt;
    font-weight: 100;
    font-size: 1.1rem;
}

.overlined-heading-font {
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    font-weight: 100;
}

.text--bold {
    font-weight: bold;
}