.small-text {
    font-weight: normal;
    letter-spacing: 0.03rem;
    line-height: 32pt;
    font-size: 0.91rem;
}

.top-lined-header {
    margin-top: 1vh;
    font-weight: lighter;
    margin-left: 4.5vw;
}