
.text {
    font-weight: 100;
    font-size: 1.05rem;
    line-height: 2.75rem;
}

.overlined-heading-font {
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    font-weight: 100;
}

.text--bold {
    font-weight: bold;
}

.heading {
    letter-spacing: 0.6rem;
    font-size: 2.05rem;
    font-weight: 400;
    color: #0311D8;
    margin-top: 8vh;
    margin-bottom: 6vh;

    @media all and (max-width: 864px) {
        letter-spacing: 0.4rem;
        font-size: 1.7rem;
        text-align: center;
    }
}